:root .taipy-layout > .md-para:has(.taipy-navbar){
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/*overwrite defaults*/
:root {
    --container-max-width: 100%
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    line-height: 0
}

.taipy-expandable .MuiAccordionSummary-content{
    font-size: x-large;
}

.taipy-layout{
    display: grid;
    justify-items: center;
}

.css-fge750.Mui-selected{
    background-color: #478eff;
    color: white
}

.css-fge750.Mui-selected:hover{
    background-color: rgb(71 142 255 / 75%)
}

/*menu-lateral: elemento*/
.css-1st6821 {
    background-color: #cadfe7;
    border: solid;
    border-width: thin;
    border-color: #d3d7d9;
}

/*menu-lateral: icones*/
.css-6rxl0z {
    background-color: #ffffff;
    color: #478eff;
}

.css-1rom8zt{
    min-height: 36px;
    min-width: 20px;
}

/*header-bar: elemento*/
.taipy-layout.header_container.MuiBox-root.css-1we2j1x {
    align-items: center;
}

/*header-bar: botões da janela*/
.taipy-part.header_top_right_corner.MuiBox-root.css-0 {
    justify-self: right;
}

/*header-bar: logo*/
.taipy-part.header_logo.MuiBox-root.css-0 {
    justify-self: left;
}

div.taipy-part.header_logo.MuiBox-root.css-0 span.MuiTypography-root.MuiTypography-body1.taipy-text.css-lpnwt2{
    font-size: larger;
    color: #478eff;
    font-weight: bold;
    text-transform: uppercase;
}

.css-etkd7z {
    font-weight: bold;
}

/*border around the full page*/
html {
    border: solid;
    border-width: thin;
    border-color: #d3d7d9;
}

/*menu and selector: spacing and sizing*/
.css-fge750 {
    padding: 6px 16px;
}
.css-1psnylk {
    line-height: 1.15;
}
.css-cszb8q {
    max-width: 24rem;
}